<ion-view class="fond" view-title="<img class='title-image' src='./img/logo_login.png' />">
    <div class="content">
        <ion-content class="content-list-suggestion">
            <div class="card">
                <div style="width:100%;height:110px;padding:8px;">
                    <div class="row">
                        <div class="col col-25 account-picture">
                            <img src="{{ user.photo }}">
                        </div>
                        <div class="col col-75 account-name">
                            <p class="name">{{ user.firstname }}</p>
                            <div class="row">
                                <p class="col name">{{ user.lastname }}</p>
                                <p class="col">({{ user.points }} points)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="account-details">Type de compte : <img src="./img/compte-diamond.jpg" width="150"></p>
                <p class="account-details">Ancienneté : <span>{{ user.registerDate }} ({{ user.seniority }} ans)</span></p>
                <p class="account-details">Permissions :</p>
                <ul class="account-details-list">
                    <li>Fréquence de proposition : <span> {{ user.permissions.suggestionFrequencyPerYear }} fois par an</span></li>
                    <li>Pondération d’un vote : <span>x{{ user.permissions.voteMultiplier }}</span></li>
                    <li>Récompense d’un vote : <span>{{ user.permissions.voteRewardPoints }} points</span></li>
                    <li>Accès aux idées traitées : <span>{{user.permissions.accessProcessedIdeas ? "Oui" : "Non"}}</span></li>
                </ul>
            </div>
            <div class="col col-80 col-offset-10">
                <button class="button button-full button-positive">
                    Passer en Diamond select
                </button>
            </div>
        </ion-content>
    </div>
</ion-view>
