<ion-view view-title="Playlists">
    <div class="col" style="z-index:999;position:absolute;top:40px;">
        <button style="border-radius:30px;" class="button button-full button-positive">
            Je propose mon idée
        </button>
    </div>
    <ion-content style="position:relative;top: 95px;" delegate-handle="mainScroll">
        <ion-refresher
                pulling-text="Relâchez pour actualiser"
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item class="card" ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
                <div class="row">
                    <div class="col">
                        <i class="icon col col-50 pictos ion-{{playlist.theme}}"></i>
                    </div>
                    <div class="col col-60">
                        <h2 class="title">{{playlist.title}}</h2>
                        <p>{{playlist.date}}</p>
                        <p class="votes">{{playlist.votes}} <i class="icon star ion-ios-star-outline"></i></p>
                    </div>
                </div>
                <div class="detail">
                    <span><i class="icon ion-ios-plus-empty"></i> de détails</span>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>