<ion-view view-title="Suggestion">
  <ion-content class="fond">
    <ion-list>
      <ion-item class="list card">
        <div class="row item">
          <div class="col">
            <i class="icon col col-50 pictos ion-{{suggestion.theme}}"></i>
          </div>

          <div class="col col-60">
            <div class="textTitle">{{suggestion.title}}</div>

            <p>Catégorie : <span class="textColor">{{suggestion.themeName}}</span></p>

            <p>Proposée le <span class="textColor">{{suggestion.date}}</span> </p>
          </div>
        </div>

        <div class="item item-body">
          <div class="textTitle">Description</div>
          <p>
            {{suggestion.description}}
          </p>
        </div>
        <div class="item item-body">
          <div class="textTitle">Justification</div>
          <p>
            {{suggestion.justification}}
          </p>
        </div>
      </ion-item>

      <div class="text-center row">
        <i style="font-size:6em;" class="col ion-checkmark-circled balanced" ng-controller="SuggestionAValiderCtrl" ng-click="validateSuggestion()"></i>
        <i style="font-size:6em;" class="col ion-close-circled assertive" ng-controller="SuggestionAValiderCtrl" ng-click="refuseSuggestion()"></i>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
