<ion-view class="fond" view-title="<img class='title-image' src='./img/logo_login.png' />">
    <div class="content">
        <ion-content class="content-list-suggestion">
            <div class="row">
                <div class="col text-center">
                    <button ng-click="backToThematics()"
                            class="bold color-blue no-padding-top no-padding-bottom ion-close-round button button-clear button-positive">
                        Annuler l'ajout
                    </button>
                </div>
            </div>
            <form name="addThematic" ng-submit="createThematic(thematic)" novalidate>
                <div class="card padding no-margin-top ">
                    <div class="text-center">
                        <h1>Ajouter une catégorie</h1>
                    </div>
                    <div class="list color-blue">
                        <label class="item item-input">
                            <span class="input-label">Nom de la catégorie</span>
                            <input name="name" type="text" ng-model="thematic.name" required>
                        </label>

                        <div class="row">
                            <span class="col assertive"
                                  ng-show="addThematic.name.$touched && addThematic.name.$invalid">Vous devez saisir un nom de catégorie.</span>
                        </div>

                        <label class="item item-input item-select">
                            <div class="input-label">
                                Icône
                            </div>
                            <select name="icone" required>
                                <option value="./img/thematics/food.svg">Cuisine</option>
                                <option value="./img/thematics/golf.svg">Loisir</option>
                                <option value="./img/thematics/unknow.svg">Autre</option>
                                <option value="./img/thematics/vacuum.svg">Hygiène</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button ng-disabled="addThematic.$invalid" type="submit" class="button button-energized">
                            Ajouter
                        </button>
                    </div>
                </div>
            </form>
        </ion-content>
    </div>
</ion-view>
